{% extends 'base.html' %}
{% block content %}
<h4>Para registrar usuarios!</h4>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="Registrar">Registrar</button>
</form>
{% endblock %}