{% extends 'base.html' %}
{% block content %}
<style>
  #parrafo_img {
    margin-bottom: 0;
    height: 28px;
  }

  #btn-generate {
    margin-top: 10px;
    background: #333;
    color: white;
    padding: 10px;
    width: 40%;
    outline: 0;
    border: 1px solid #add500;
  }

  .main {
    display: flex;
    justify-content: space-evenly;
  }

  .config {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  }

  .subtitle_llamado {
    margin: 0;
    color: #aaa;
    height: 16px;
    text-transform: uppercase;
    font-size: 11px;
  }

  .img-cmr {
    margin-left: 48px;
  }

  #content {
    background: white;
    width: 193px;
    height: 330px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #content h1 {
    text-transform: uppercase;
    color: #7f7f7f;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1px;
    padding: 0 3px;
    letter-spacing: 0px;
  }

  .linea {
    width: 145px;
    background: #f0f0f0;
    color: #f0f0f0;
    border-top: 1.5px solid #f0f0f0;
    border-left: 0;
    border-bottom: 0;
  }

  .descuento {
    width: 100%;
    text-align: center;
  }

  .descuento h1 {
    font-size: 120px !important;
    color: #db1245 !important;
    margin: 0;
    font-family: "Lato-light" !important;
  }

  .descuento .p_text_precio {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-weight: 300;
  }

  .p_text_precio:after{
    content: 'DCTO';
  }

  .descuento span {
    color: #aaa;
    font-size: 10px;
    padding-top: 0px;
  }

  .btn_oferta {
    color: white;
    background: #9dd801;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    padding: 12px;
    width: 71%;
    margin-top: 2px;
    letter-spacing: 1px;
  }

  p.p_text_precio {
    color: #db1245 !important;
    letter-spacing: 2px;
  }

  /* p.p_text_precio:before {
    content: "$";
  } */

  h1.per_dest {
    height: 120px;
    margin-top: -20px;
  }

  .frame {
    border: 1px solid #eee;
    width: 193px;
    height: 330px;
  }

  #id_password,
  #id_username {
    font-size: 12px;
    width: 15%;
    text-transform: lowercase;
    height: 15px;
  }

  form button {
    border: 1px solid rgba(238, 238, 238, 0.9333333333333333);
    width: 16%;
    background: #ccc;
  }

  .btn_display {
    display: flex;
    border: 1px solid #ccc;
    line-height: 2.5;
    justify-content: space-around;
  }

  .btn_display label {
    margin-left: -90px;
  }

  .sku_img {
    max-width: 67%;
    margin-top: 10px;
  }

  .title {
    height: 42px;
  }
  #btn-generate{
    cursor:pointer;
  }
</style>
<div class="main">
  <div class="frame">
    <div id="content">
      <h1 class="title">
        titulo llamado
      </h1>
  
      <hr class="linea" />
      <div class="descuento">

        <img class="sku_img" id="sku_img"
          src="https://falabella.scene7.com/is/image/FalabellaCO/3859848?wid=320&amp;hei=320&amp;anchor=750,750&amp;crop=0,0,0,0"
          alt="">

        <p class="p_text_precio">#%</p>
        <span class="refer">* Referencias Seleccionadas</span>
        <hr class="linea" />
      </div>

      <p class="btn_oferta">
        VER OFERTAS
      </p>
    </div>
  </div>
  <div class="config">
    <label for="">Titulo</label>
    <input type="text" name="titulo" id="titulo" onkeyup="titulo_llamado(this)" />

    <label for="">Sku producto</label>
    <input type="text" name="sku" id="sku" onkeyup="return sku_img(event)" />

    <label for="">Descuento %</label>
    <input type="text" name="descuento" id="descuento" onkeyup="precio_descuento(this)" />
    <button id="btn-generate">Descargar Imagen <i class="fas fa-arrow-circle-down"></i></button>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
<script src="https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/accounting.js"></script>
<script>
  var node = document.getElementById("content");
  var btn = document.getElementById("btn-generate");

  btn.onclick = function () {
    domtoimage.toBlob(document.getElementById("content")).then(function (blob) {
      console.log(blob)
      var name = new Date();
      window.saveAs(blob, name.getTime() + "-cat_llamado.jpg");
    });
  };

  function titulo_llamado() {
    let elem = document.getElementById("titulo");
    document.querySelector(".title").innerHTML = `${elem.value}`;
  }

  function precio_descuento() {
    let elem3 = document.getElementById("descuento");
    document.querySelector(".p_text_precio").innerHTML = `${elem3.value}\u0025`;
    document.querySelector(".p_text_precio").style.textTransform = "uppercase";
  }

  function sku_img(e) {
    if (e.key == 'Enter') {
      let img_product = document.querySelector(".sku_img")
      let elem5 = document.getElementById("sku");
      img_product.src = `https://falabella.scene7.com/is/image/FalabellaCO/${elem5.value}?wid=320&amp;hei=320&amp;anchor=750,750&amp;crop=0,0,0,0"`;
    }
  }
</script>
{% endblock %}