<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>{% block title %}Banners App{% endblock %}</title>
</head>
<style>
@font-face {
    font-family: Lato;
    src: url(https://fonts.googleapis.com/css?family=Lato:100,
 100i,
        300,
        300i,
        400,
        400i,
        700);
}

@font-face {
    font-family: Lato-light;
    src: url(https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/fonts/Lato-Light.ttf);
}

body {
    background: #eee;
}

input {
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    text-transform: uppercase;
}

body {
    font-family: "Lato", sans-serif;
}

form button {
    border: 1px solid rgba(238, 238, 238, 0.9333333333333333);
    width: 16%;
    background: #ccc;
}
a {
    color: #74b700;
    text-decoration: none;
}

a:hover {
    color: #add500;
}

a:visited {
    color: #74b700;
}
</style>

<body>
    <h3>Banners Tool</h3>
    <a href='{% url "home" %}'>Home</a> |
    {% if user.is_authenticated %}
    <a href="{% url 'main' %}">Llamado Procentaje Dcto</a> |
    <a href="{% url 'producto-precio' %}">Llamado Producto Precio</a> |
    <a href="{% url 'producto-porcentaje' %}">Llamado Producto Porcentaje</a> |
    <a href="{% url 'logout' %}">Salir</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr style="border: 1px solid #74b700;">
    {% block content %}
    {% endblock %}
</body>

</html>