{% extends 'base.html' %}

{% block content %}
<h3>Banners apps</h3>
<h3>* Herramienta para creación de llamados</h3>
<h3>* Herramienta para creación de banners en tiendas</h3>
<h4>Bienvenido, {% if user.is_authenticated %}{{ user.username }}{% else %}Usuario{% endif %}</h4>
<hr>
<div class="banner_options">
	<a href="{% url 'main' %}">
		<img src="https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/img/img-1.jpg" alt="Llamado descuento">
	</a>
	<a href="{% url 'producto-precio' %}">
		<img src="https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/img/img-2.jpg" alt="Llamado descuento">
	</a>
	<a href="{% url 'producto-porcentaje' %}">
		<img src="https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/img/img-3.jpg" alt="Llamado descuento">
	</a>
</div>
{% endblock %}