{% extends 'base.html' %}
{% block content %}
<style>
    #parrafo_img {
    margin-bottom: 0;
    height: 28px;
}

#btn-generate {
    margin-top: 10px;
    background: #333;
    color: white;
    padding: 10px;
    width: 40%;
    outline: 0;
    border: 1px solid #add500;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.config {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}

.subtitle_llamado {
    margin: 0;
    color: #aaa;
    height: 16px;
    text-transform: uppercase;
    font-size: 11px;
}

.img-cmr {
    margin-left: 48px;
}



#content {
    background: white;
    width: 193px;
    height: 330px;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content h1 {
    text-transform: uppercase;
    color: #7f7f7f;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1px;
    padding: 0 3px;
    letter-spacing: 0px;
}

.linea {
    width: 145px;
    background: #f0f0f0;
    color: #f0f0f0;
    border-top: 1.5px solid #f0f0f0;
    border-left: 0;
    border-bottom: 0;
}

.descuento {
    width: 100%;
    text-align: center;
}

.descuento h1 {
    font-size: 120px !important;
    color: #db1245 !important;
    margin: 0;
    font-family: "Lato-light" !important;
}

.descuento p {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.descuento span {
    color: #aaa;
    font-size: 10px;
    padding-top: 0px;
}

.btn_oferta {
    color: white;
    background: #9dd801;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    padding: 12px;
    width: 71%;
    margin-top: 2px;
    letter-spacing: 1px;
}

p.p_text {
    color: #db1245 !important;
    letter-spacing: 2px;
}

p.p_text:before {
    content: "%";
}

h1.per_dest {
    height: 120px;
    margin-top: -20px;
}

.frame {
    border: 1px solid #eee;
    width: 193px;
    height: 330px;
}

#id_password,
#id_username {
    font-size: 12px;
    width: 15%;
    text-transform: lowercase;
    height: 15px;
}



.btn_display {
    display: flex;
    border: 1px solid #ccc;
    line-height: 2.5;
    justify-content: space-around;
}

.btn_display label {
    margin-left: -90px;
}
</style>
<div class="main">
    <div class="frame">
        <div id="content">
            <h1 class="title">
                titulo llamado
            </h1>
            <h5 class="subtitle_llamado">Referencias seleccionadas</h5>
            <hr class="linea" />
            <div class="descuento">
                <p id="parrafo_img">
                    <img class="img-cmr" id="img-cmr" src="https://www.falabella.com.co/static/RDF/site/minisitios/recursos_categorias/img/cmr_ico.jpg" />
                </p>
                <h1 class="per_dest" id="precio_descuento">
                    50
                </h1>
                <p class="p_text">DCTO</p>
                <span class="refer">* Referencias seleccionadas</span>
                <hr class="linea" />
            </div>
            <p class="btn_oferta">
                VER OFERTAS
            </p>
        </div>
    </div>
    <div class="config">
        <label for="">Titulo</label>
        <input type="text" name="titulo" id="titulo" onkeyup="titulo_llamado(this)" />
        <label for="">Subtitulo</label>
        <input type="text" name="subtitulo" id="subtitulo" onkeyup="subtitle(this)" />
        <label for="">CRM</label>
        <div class="btn_display">
            <input type="radio" value="true" name="cmr" onclick="showCmr(this)" checked />
            <label for="">Habilitar</label>
            <input type="radio" value="false" name="cmr" onclick="showCmr(this)" />
            <label for="">Deshabilitar</label>
        </div>
        <label for="">Porcentaje de Descuento</label>
        <input type="number" name="descuento" id="descuento" onkeyup="precio_descuento()" pattern=".{2,}" />
        <button id="btn-generate">Descargar Imagen <i class="fas fa-arrow-circle-down"></i></button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="https://cdn.bootcss.com/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
<script>
var node = document.getElementById("content");
var btn = document.getElementById("btn-generate");

btn.onclick = function() {
    domtoimage.toBlob(document.getElementById("content")).then(function(blob) {
        var name = new Date();
        window.saveAs(blob, name.getTime() + "-cat_llamado.jpg");
    });
};

function titulo_llamado() {
    let elem = document.getElementById("titulo");
    //console.log(elem);
    document.querySelector(".title").innerHTML = `${elem.value}`;
}

function subtitle() {
    let elem2 = document.getElementById("subtitulo");
    //console.log(elem);
    document.querySelector(".subtitle_llamado").innerHTML = `${elem2.value}`;
}

function showCmr(a) {
    var parrafo = document.getElementById("parrafo_img");
    var cmr = document.getElementById("img-cmr");
    if (a.value === "true") {
        cmr.style.display = "block";
        cmr.style.marginLeft = "75px";
        parrafo.style.margin = 0;
    } else {
        cmr.style.display = "none";

    }
}

function precio_descuento() {
    let elem3 = document.getElementById("descuento");
    document.querySelector(".per_dest").innerHTML = `${elem3.value}`;
}
</script>
{% endblock %}