{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://www.falabella.com.co/static/RDF/site/minisitios/tiendasp/bannerShopFACO/css/Banner-Tiendas.c6ce4e9d.css">
<link rel="stylesheet" media="print" href="https://www.falabella.com.co/static/RDF/site/minisitios/tiendasp/bannerShopFACO/css/print.653e125a.css">
<div id="root"></div>
<script src="https://www.falabella.com.co/static/RDF/site/minisitios/tiendasp/bannerShopFACO/js/Banner-Tiendas.2001095d.js"></script>
{% endblock %}